@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial;
  font-size: 16px;
  background: #000000;
}

.sidebar {
  position: fixed;
  width: 18%;
  height: 100%;
  background: #25252534;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin: 1em 0;
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: #2bff00;
  display: block;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.nav ul li:not(.active):hover a {
  color: #f7f7f7;
  padding-left: 20px;
  font-size: 12px;
}

.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: white;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#9dff00), to(#00ca4e));
  background-image: linear-gradient(to right, #9dff00, #00ca4e);
}

.nav ul :hover {
  background: #11ca00;
}

section {
  /*btn_background*/
  /*btn_text*/
  /*highlight*/
}

section h1 {
  text-align: right;
  margin: 0 auto;
  padding: 20px;
  color: #09ff00;
  font-size: 32px;
}

section .buttons {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2em 0em;
}

section .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 100%;
  margin-left: 20%;
}

section .btn {
  margin: 10px;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

section .btn:hover {
  text-decoration: none;
}

section .effect01 {
  color: #09ff00;
  border: 0.07px solid #1eff00;
  -webkit-box-shadow: 0px 0px 0px 1px #000 inset;
          box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section .effect01:hover {
  border: 1px solid white;
  background-color: #fafffa;
  -webkit-box-shadow: 0px 0px 0px 4px #EEE inset;
          box-shadow: 0px 0px 0px 4px #EEE inset;
}

section .effect01 span {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 2;
}

section .effect01:hover span {
  color: black;
}

section .effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

section .effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
/*# sourceMappingURL=style.css.map */