@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans', cursive;
}
html {
  font-size: 18px;
  background-color: #EEE;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background: #000000;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 1em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: #2bff00;
      display: block;
      transition: all ease-out 300ms;
    }
    
    &:not(.active):hover a {
        color: #f7f7f7;
        padding-left: 20px;
        font-size: 12px;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: rgb(255, 255, 255);
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #9dff00, #00ca4e)
    }
  }
  :hover {
      background: #11ca00;
  }
}

section{
    h1{
        letter-spacing: 0.1em;
        text-align: right;
        margin: 0 auto;
        padding: 20px;
        color: #b3b3b3;
        font-size: 32px;
        text-shadow: 1px 3px 4px black;
        text-transform: uppercase;
    }
      .buttons {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 2em 0em;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }
      
      .container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin-left: 20%;
        
      }
      
      .btn {
        margin: 10px;
        letter-spacing: 0.1em;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        
      }
      .btn:hover {
        text-decoration: none;
      }
      
      /*btn_background*/
      .effect01 {
        color: #020202;
        border: 0.07px solid #1eff00;
        box-shadow:0px 0px 0px 1px #000 inset;
        background-color: #e6e6e6;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
      .effect01:hover {
        border: 1px solid rgb(0, 217, 255);
        background-color: #d8d8d8;
        box-shadow:0px 0px 0px 4px #EEE inset;
      }
      
      /*btn_text*/
      .effect01 span {
        transition: all 0.2s ease-out;
        z-index: 2;
      }
      .effect01:hover span{
        color: rgb(0, 0, 0);
      }
}